	<p>You're logged in bro!</p>
	<p><%= link_to "Add new task", new_item_path, id: "new_link", remote: true %></p>
	<p><a href="/signout">Signout</a></p>
	<div id="list">
		<ul id="incomplete">
			<% current_user.items.each do |item| %>
			<li><%= item.description %> <%= link_to "delete", item, method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
			<% end %>
		</ul>
	</div>