<p><%= link_to "Add new task", new_item_path, id: "new_link", remote: true %></p>
<p><a href="/signout">Signout</a></p>
<div id="list">
  <ul id="incomplete">
    <%= render @incomplete_items %>
  </ul>
  <ul id="complete">
    <%= render @complete_items %>
  </ul>
</div>
