<h1>Welcome!</h1>

<% if session[:user_id] %>
	<p>You're logged in bro!</p>
	<%= link_to "Make a new item", new_item_path %>
	<a href="/signout">Signout</a>
<% else %>
	<a href="/auth/twitter">Signin</a>
<% end %>
