<!DOCTYPE html>
<html>
<head>
  <title>Streak</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav id="navbar">
		<div id="brand">Streak</div>
		<div>
			<ul>
				<li>Menu 1</li>
				<li>Menu 2</li>
			</ul>
		</div>
	</nav>

	<%= yield %>

</body>
</html>
